/* ProductDetail.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .product-detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff;
    max-width: 1200px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .product-image-container {
    flex: 1;
    max-width: 600px;
    padding: 20px;
    text-align: center;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-info-container {
    flex: 1;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .product-name {
    font-family: 'Roboto', sans-serif; 
    font-size: 2.5em; /* Reduced from 2.5em to 2em */
    margin-bottom: 10px;
    color: #333333;
  }
  
  .product-price-discount {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  
  
  .product-description {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #555;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    align-content: center;
  }
  
  .product-details {
    margin-bottom: 20px;
  }
  
  .product-details p {
    font-size: 1em;
    margin: 5px 0;
  }
  
  .add-to-cart-button {
    background-color: #2ecc71;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    align-self: flex-start;
  }
  
  .add-to-cart-button:hover {
    background-color: #27ae60;
  }
  
  .loading {
    text-align: center;
    padding: 50px;
    font-size: 1.5em;
  }
  
  .product-price {
    font-size: 1.5rem;
    color: #e74c3c;
    margin-bottom: 10px;
  }
  
  .product-original-price {
    font-size: 1.2rem;
    color: #7f8c8d;
    text-decoration: line-through;
    margin-left: 10px;
  }
  
  .product-discount {
    font-size: 1.2rem;
    color: #27ae60;
    margin-left: 10px;
  }